.slide-pane__content {
  padding: 0;
  overflow-y: hidden;
  background-color: #151719;
}

#tay-img:hover {
  cursor: pointer;
}

#chat-input {
  border: 0;
  color: white;
  background-color: #353741 !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  float: left;
  max-width: 85%;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

#chat-input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

#chat-button {
  float: left;
  padding-top: 8px;
  padding-bottom: 8px;
  /* width: 10%; */
  text-align: center;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border: 0
}

#chat-input::placeholder {
  color: white;
  opacity: 0.6;
}

@media (max-width: 1400px) {
  #chat-input {
    max-width: 75%;
  }
}

@media (max-width: 1650px) {
  #chat-input::placeholder {
    color: white;
    opacity: 0.6;
    font-size: 15px;
  }
}

#chat-cell {
  vertical-align: middle;
  padding-left: 0 !important;
}

.flow-border {
  position: relative;
  background-clip: padding-box;
}

.flow-border::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: linear-gradient(
      90deg,
      #ff6b6b,
      #feca57,
      #ff9ff3,
      #ff6b6b
  );
  border-radius: 25px !important;
  background-size: 400% 400%;
  z-index: -1;
  animation: flow 3s ease infinite;
}

@keyframes flow {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.centered {
  text-align: center;
}

.link-icon {
  width: 56px;
}

.emoji {
  font-size: 30px;
}

td {
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  /*font-weight: bold;*/
}

#weather {
  display: inline-block;
}

.App {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;

  font-size: calc(10px + 2vmin);
  color: black;
}

.App-body {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column !important;
  font-size: calc(10px + 2vmin);
  color: black;
}

.name-row {
  margin-top: 5% !important;
  margin-bottom: 6% !important;
}

.greeting {
  color: white !important;
  font-size: 90px !important;
  font-weight: bold;
}

.bold {
  font-weight: bold !important;
}

.name {
  text-decoration: underline white !important;
  text-decoration-thickness: 3px !important;
  text-underline-offset: 8px !important;
}

.date {
  color: white !important;
  font-size: 50px !important;
  font-weight: bold;
}

.prince-a {
  color: white !important;
  /* text-decoration: None !important; */
}

.valentine-a {
  font-weight: bold;
  color: pink !important;
}

mark {
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background: none !important;
  color: #ef853b !important;
}

.dropdown {
  --bs-btn-bg: #ef853b !important;
  --bs-btn-border-color: #ef853b !important;

  --bs-btn-hover-bg: #ef853b !important;
  --bs-btn-hover-border-color: #ef853b !important;

  --bs-btn-active-bg: #ef853b !important;
  --bs-btn-active-border-color: #ef853b !important;
}

button {
  --bs-btn-bg: #ef853b !important;
  --bs-btn-border-color: #ef853b !important;

  --bs-btn-hover-bg: #ef853b !important;
  --bs-btn-hover-border-color: #ef853b !important;

  --bs-btn-active-bg: #ef853b !important;
  --bs-btn-active-border-color: #ef853b !important;
}

button:disabled {
  background-color: #a9a9a9 !important;
  border-color: #a9a9a9 !important;
  --bs-btn-bg: #a9a9a9 !important; /* Light gray background */
  --bs-btn-border-color: #a9a9a9 !important; /* Light gray border */
  cursor: not-allowed !important; /* Show a not-allowed cursor */
}

.dropdown-item {
  color: black !important;
}

body {
  /* background-color: #212529 !important; */
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-attachment: fixed;
}

.street-week {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: 25px;
  background-color: #212529;
  max-height: 400px;
  overflow-y: scroll;
}

.street-week::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

.street-week::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.dining-hall {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 25px;
  background-color: #212529;
  max-height: 420px;
  overflow-y: scroll;
  min-width: 360px;
  min-height: 280px !important;
  /* width: 500px;
  margin-left: 100px; */
}

.dining-hall::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

.dining-hall::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.banner {
  position: fixed;
  bottom: 0px;
  left: 25%;
  width: 50%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 5px;
  border-radius: 15px;
  background-color: pink;
}

.divider {
  border-bottom-style: solid;
  border-bottom-width: thin;
  font-size: 22px;
}

.row-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.weather {
  font-size: 18px;
}

.promo {
  width: 300px;
}

@media (max-width: 1450px) {
  .divider {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    font-size: 18px !important;
  }

  .promo {
    width: 300px;
  }
}

@media (max-width: 1650px) {
  .weather {
    font-size: 15px !important;
  }

  .promo {
    width: 300px;
  }
}

.no-divider {
  border-style: none;
}

.divider-orange {
  border-bottom-color: #f7752f;
}

.divider-green {
  border-bottom-color: #00ff00;
}

.divider-pink {
  border-bottom-color: #ff00dd;
}

.divider-red {
  border-bottom-color: #ff2a0d;
}

.divider-blue {
  border-bottom-color: #41eaea;
}

.dance {
  /* padding-left: 10px;
  padding-right: 10px; */
  padding-top: 10px;
  /* padding-bottom: 10px; */
  border-radius: 25px;
  background-color: #212529;
}

.sneaky-links {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  background-color: #212529;
  /* width: 500px; */
}

.weather {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  background-color: #212529;
  /* width: 500px;
  margin: 50px; */
  font-weight: bold !important;
}

.tay {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 25px;
  background-color: #212529;
  /* width: 500px;
  margin: 50px; */
  font-weight: bold !important;
}

.prince {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: 25px;
  background-color: #212529;
  /* width: 500px;
  margin-right: 100px; */
}

/* .dining-hall {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 25px;
  background-color: #212529;
  /* width: 500px;
  margin-left: 100px; */
