.centered {
  text-align: center;
}

.emoji {
  font-size: 60px
}

td {
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

#weather{
  display: inline-block;
}
.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

